body {
	background-color: #BDB;
}

div.search-block {
	margin-bottom: 85px;
	text-align: center;
	margin-top: 85px;
	width: 100%;
}

div.search-block input {
	font-size: 35px;
}

div.qa-block {
	background-color: #AAF;
	margin-right: 150px;
	margin-left: 150px;
	border-radius: 25px;
	font-family: Arial;
	overflow-y: auto;
	font-size: 28px;
	height: 350px;
}

div.question {
	background-color: #AAF;
	margin-left: 25px;
}

div.answer {
	background-color: #CFC;
	margin-bottom: 2px;
	text-align: right;
}

div.all-cards {
	padding: 85px;
}
div.card{
	display:	inline-block;
	border:		solid black 2px;
	text-align: center;
	height:		300px;
	width:		200px;
	margin:		15px;
}
div.card-question{
	border-bottom: dashed black 1px;
	height:	150px;
	clear:	right;
}
div.card-question img{
	max-width:	135px;
}
div.card-answer{		
	/*border-bottom: dashed black 1px;*/
	padding-bottom: 35%;
	padding-top:	2px;
	text-align: center;
	
	max-height: 150px;
	height: 150px;
}
div.card-answer span{
	width: 100%;
	display: block;
	
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg); 
	-o-transform:rotate(-180deg); 
	transform:rotate(-180deg);
	ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}